body{
    background: #fff url("images/body.gif") repeat-x 0 0;
}
.nav_bar{
    height: 30px;
    width: 300px;
    background: gray;

}
h2{
    margin-top: 1px;
    line-height: 30px;
    padding-left: 4px;
    border-left: 1px solid #fff;
}

#container{
	width:1000px;
	margin:auto auto;
}
#header {
    font-size: 50px;
    font-family: "黑体";
    font-weight: bold;
    text-align: center;
    background: url("images/pic.jpg") no-repeat;
	height: 120px;
	width:1000px;
    padding-top: 30px;
}
#main{
	height:400px;
    width:1000px;
	margin-top:10px;
}
#left {
	height: 300px;
    width:400px;
	margin:20px;
    padding:20px;
	font-family: "宋体";
	font-size: 25px;
	border: medium solid #000000;
    float:left;
}
#right{
    height:300px;
	width:400px;
    margin:20px;
    padding:20px;
	float:right;
	border: medium solid #000000;
}

#footer {
	height: 110px;
	width:980px;
	margin-top:20px;
	font-family: "仿宋";
	font-size: 20px;
	text-align: center;
    padding-top: 20px;
    background: #ebebeb;
}
li:hover{
    color: orangered;
}