body {
background: white url("images/pic.jpg") no-repeat ;
font-size:   24px;
line-height: 47px;
}

#footer {
	height: 50px;
	width:100%;
	margin:auto;
	font-family: "宋体";
	font-size: medium;
	background-color: #00000;
	text-align: center;
}