{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'enrollment/style.css' %}" />
<link rel="stylesheet" href="{% static 'enrollment/reset.css' %}">
<html >
<head>
<title>干部教育处——报名系统</title>
</head>

<body>
<div id = "container">
    <div id="header"></div>
    <div id="main">

        <div id="left" >
        <div class="nav_bar">班级名称</div>

         {% if Course_list %}

            {% for course in Course_list %}
               <li>
                   <a href="/enrollment/add/{{ course.id }}">{{ course.name }}</a>
               </li>
            {% endfor %}

        {% else %}
            <p>目前还没有新的班级</p>
        {% endif %}


        </div>

        <div id="right" >
        <div class="nav_bar">消息公告</div>
        </div>

    </div>

    <div id="footer">
     <p>宁夏自治区党委组织部 版权所有</p>
     <p>联系电话:0951-6669328</p>
    </div>

 </div>
</body>
</html>
