{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'enrollment/style.css' %}" />
<link rel="stylesheet" href="{% static 'enrollment/reset.css' %}">
<html >
<head>
<title>干部教育处——报名系统</title>
</head>

<body>
<div id = "container">
    <div id="header"></div>
    <div id="main">
    <div id="left">
          谢谢报名
        <a href="/enrollment">返回首页</a>

    </div>

    </div>

    <div id="footer">
     <p>宁夏自治区党委组织部 版权所有</p>
     <p>联系电话:0951-6669328</p>
    </div>

 </div>
</body>
</html>
